<br>
<h1>Chassis Number: {{ index }}</h1>
<br>
<p>Customer First Name:</p>
<input type="text" class="form-control" [(ngModel)]="firstName">
<br>
<p>Customer Last Name:</p>
<input type="text" class="form-control" [(ngModel)]="lastName">
<br>
<p>Age:</p>
<input type="text" class="form-control" [(ngModel)]="age">
<br>
<p>Street:</p>
<input type="text" class="form-control" [(ngModel)]="street">
<br>
<p>House Number:</p>
<input type="text" class="form-control" [(ngModel)]="houseNumber">
<br>
<p>Postal Code:</p>
<input type="text" class="form-control" [(ngModel)]="postalCode">
<br>
<button class="btn btn-primary" [disabled]="inputsEmpty" (click)="onSubmitAddCustomer()">Add Customer to Car</button>
