<br><br>
<div class="row">
  <div class="col-sm">
    <h5>ChassisNr: {{ index }}</h5>
  </div>
  <div class="col-sm-12">
    Brand:
    {{ car.brand }}
  </div>
  <div class="col-sm-12">
    Fuel Type:
    {{ car.fuelType }}
  </div>
  <div class="col-sm-12">
    Type Car:
    {{ car.typeCar }}
  </div>
  <div class="col-sm-12">
    Owned By:
    {{ owner }}
  </div>
  <div class="col-sm-12">
    Sold By:
    {{ car.soldBy }}
  </div>
  <div class="col-sm-12">
    <button class="btn btn-primary" routerLink="/car/edit/{{ index }}">Edit Car</button>
    <br>
    <button class="btn btn-danger" (click)="deleteCar()">Delete Car</button>
    <br>
    <button *ngIf="hasCustomer; else editCustomer" class="btn btn-primary" routerLink="/car/customer/{{ car.chassisNumber }}">Add Customer</button>
    <ng-template #editCustomer>
      <button class="btn btn-primary" routerLink="/car/customer/edit/{{ index }}">Edit Customer</button>
    </ng-template>
    <br>
    <button class="btn btn-danger" (click)="deleteCustomer()">Delete Customer</button>
    <br>
    <button class="btn btn-primary" routerLink="/car/soldby/{{ index }}">Edit Seller</button>
    <br>
    <button class="btn btn-danger" (click)="deleteSeller()">Delete Seller</button>
  </div>
</div>
