<div class="col-xs-12 col-sm-10 col-md-8 col-smoffset-1 col-md-offset-2 thumbnail clearfix sign">
  <form>
    <div class="form-group" #f>
      <label for="username">Username</label>
      <input #usernameInput type="username" id="username" name="username" ngModel class="form-control" required>
      <span class="help-block" *ngIf="!usernameInput.valid && usernameInput.touched">Please enter a valid username longer than two characters</span>
    </div>
    <div class="form-group">
      <label for="email">Mail</label>
      <input #emailInput type="email" id="email" name="email" ngModel class="form-control" required email>
      <span class="help-block" *ngIf="!emailInput.valid && emailInput.touched">Please enter a valid email address</span>
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input #passwordInput type="password" id="password" name="password" ngModel class="form-control" required>
      <span class="help-block" *ngIf="!passwordInput.valid && passwordInput.touched">Please enter a valid password</span>
    </div>
    <div>
      <span class="alerttext" *ngIf="errorcode == 409">Please enter the right credentials</span>
    </div>
    <button class="btn btn-primary" type="button" (click)="onRegister(usernameInput.value,emailInput.value,passwordInput.value)">Sign up</button>
    <p><br/>Already have an account? Please <a routerLink="/signin"> sign in</a>.</p>
  </form>
</div>
