<div class="row">
  <div class="col-md-5">
    <h1>Chassis Number: {{ index }}</h1>
    <p>Employee:</p>
    <select id="employeeID" name="employeeID" class="form-control"
            required
            [(ngModel)]="employeeID" #employeeIDInput="ngModel">
      <option value="Select">Select an Employee</option>
      <option *ngFor="let employee of employees" value="{{ employee._id }}">
        {{ employee.firstName + ' ' + employee.lastName }}
      </option>
    </select>
    <br>
    <button class="btn btn-primary"
            (click)="onSubmitEditSoldBy(employeeID)">Edit Seller</button>
  </div>
</div>
